img.example-image {
    border: 10px solid white;
    max-width:200px; 
    height: auto;
}

#id_feedback {
    height: 50px;
}

a {
    text-decoration: underline;
}

#resources ul {
    list-style-type: none;
    padding: 2px;
}