{% extends "jurassichack/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="jumbotron page-section" id="event">
    <section class="container">

        <span class="jurassic-hack-logo"><a href="/jurassichack">Jurassic Hack</a></span>

        <br>

        <div class="row">
            <div class="col-md-6">
                <!-- <h3>{{ answer.question.name }}</h3>
                <p>Character: {{ character.name }}</p>
                <p>Current score: {{ current_score }}</p>
                <p>Current rank: {{ current_rank }}</p>
                <p>Text: {{ answer.question.text }}</p> -->
                <h3>{{ answer.question.title }}</h3>
                <div class="task">
                    {{ answer.question.text|safe}}
                </div>
                <p>
                    [<u><a href="/jurassichack/input/{{ answer.id }}/" target="_blank">Input File</a></u>]
                </p>
            </div>

            <div class="col-md-6">
                Resources
            </div>
        </div>
    </section>
</div>

{% endblock %}