{% extends "front/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1/dist/index.min.js"></script>


<div class="page-section" id="event">
    <section class="container" id="my-canvas">
        <a href="/"><img class="logo" src="{% static 'img/navbar-logo.png' %}" alt="HiPy Logo"></a>
  
        <a href="/lifesci/question/{{ previous_question.id}}">< Previous </a>
      
        
        <br>
        <br>
        
        <div class="row">
            <div class="col-md-6">
                <h1>Escape From Life</h1>
                <h2>Epilogue</h2>
                
                <br>
                <div class="button-wrapper">
                    <button class="confetti-button btn btn-primary" onclick="confetti();">Click for reward</button>
                </div>
                <br>

                
            </div>
            
            <div class="col-md-6">

                
                
                
                <h3>My Stats: ({{ human.first_name }} {{human.last_name}})</h3>
                <hr style="border: none; height: 2px; background-color: white;">

             

                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                
                                <th>Input</th>
                                <th>Figure</th>
                                <th>Collab.</th>
                                <th>P.Reviews</th>
                                <th>Total</th>
        
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Overall</th>
                                
                                <td class="right">{{ stats.input_score }}</td>
                                <td class="right">{{ stats.figure_score }}</td>
                                <td class="right">+{{ stats.collaborations }}</td>
                                <td class="right">+{{ stats.peer_reviews }}</td>
                                <td class="right">{{ stats.total_score }}</td>
  
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
                <div class="col-md-6">
                
                    

                </div>
                </div>
                <br><br>
            </div>
        </div>

        <br>
        <br>
        
        

    </section>
</div>
<div class="page-section" id="padding">
    <section class="container">
        <div>
            <img class="event-thumb reg" src="{% static 'img/foundation-code-nexus.png' %}" alt="foundation-code-nexus">
        </div>
    </section>
</div>


{% endblock %}

