.jurassic-hack-logo a {
    font-family: 'Jurassic Park', sans-serif;
    font-size: 100px;
    line-height: 75%;
    
}

span.main-logo {
    font-family: 'Jurassic Park', sans-serif;
    font-size: 200px;
    line-height: 75%;
}